.dropdown button {
    background-color: aliceblue;
    color: aliceblue;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px
}

.dropdown .content {
    position: absolute;
    background-color: aliceblue;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: aqua;
}

.dropdown a:hover {
    background-color: brown;
}